<div class="container">
  <br>
  <form method="post" action="/questions">

    <label for="title-input" class="form_text_block">Title:</label>
    <input id="title-input" name="question[title]" type="text" value="<%= @question.try(:title) %>">
    <br><br>

    <label for="body-textarea" class="form_text_block">Text:</label>
    <textarea id="body-textarea" name="question[text]"><%= @question.try(:text) %></textarea>

    <input type="hidden" name="question[user_id]" value="<%= session[:user_id] %>"  >

    <input type="submit" class="button" value="Publish">
  </form>

  <%= erb :'_error' %>

</div>
