body {
  background-color: #CBDDE2;
}

.container {
  width: 60%;
  display: block;
  margin: auto;
}

.navbar {
  padding-top: 5px;
  height: 65px;
  background-color: #4E9CAF;
}

#home_icon {
  padding-top: 5px;
  width: 40px;
  height: 40px;
}

.home {
  padding-left: 25px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.home_row {
  display: inline-block;
  vertical-align: bottom;
  width: 65%;
  text-align: right;
}

.button{
  text-decoration: none;
  display: inline-block;
  background: #4E9CAF;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  color: black;

}

li {
  list-style: none;
}

.link {
  color: #0A5CAC;
}

#profile_name {
  font-family: "Impact";
  letter-spacing: 0.05em;
}

#web_title {
  font-family:"Impact";
  font-size: 1.5em;
  letter-spacing: 0.15em;
  padding-left: 10px;
}
.listing {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.vote_button {
  padding-top: 5px;
  width: 60px;
  height: 60px;
}
.the_vote_buttons{
  vertical-align: top;
  display: inline-block;
  width: 10%;
}
.vote_count {
  width: 60px;
  text-align: center;
}

.some_padding {
  padding-top: 20px;
}

.no_padding {
  padding-left: 0px;
}

.some_margin {
  margin-left: 38px;
}

.much_bigger_text {
  font-size: 1.5em;
}

.bigger_text {
  font-size: 1.2em;
  color: #620CE8;
}

.question_field {
  padding-top: 5px;
  display: inline-block;
  width: 70%;
}

.puppies {
  display: block;
  margin: auto;
  width: 90%;
  height: 70%;
  padding-bottom: 30px;
}
