<div class="container">
  <h2>Please Dogin</h2>

  <form method="post" action="/users/login">
    <label for="username\">Username: </label><br>
    <input type="text" name="username"><br>

    <label for="password">Password: </label><br>
    <input type="password" name="password"><br><br>

    <input class="button" type="submit" name="login" value="Dog In">
  </form>

  <%= erb :'_error' %>

</div>
