<div class="container">

   <h2>Please create an account</h2>

   <form method="post" action="/users">
    <label for="username">Username: </label><br>
    <input type="text" name="user[username]"></br>

    <label for="email">E-mail: </label><br>
    <input type="text" name="user[email]"></br>

    <label for="breed">Breed: </label><br>
    <input type="text" name="user[breed]"></br>

    <label for="password">Password: </label><br>
    <input type="password" name="user[password]"></br><br>

    <input class="button" type="submit" name="register" value="Create Account">
  </form>

    <%= erb :'_error' %>

</div>
