<div class="container">

   <h2>Please create a hound account</h2>

   <form method="post" action="/users">
    <label for="username">Dogname: </label><br>
    <input type="text" name="user[username]"></br>

    <label for="email">D-mail: </label><br>
    <input type="text" name="user[email]"></br>

    <label for="breed">Breed: </label><br>
    <input type="text" name="user[breed]"></br>

    <label for="password">Passwoof: </label><br>
    <input type="password" name="user[password]"></br><br>

    <input class="button" type="submit" name="register" value="Create Account">
  </form>

    <%= erb :'_error' %>

</div>
