<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/voting_ajax.js"></script>

  <script src="/js/answer.js"></script>

  <script src="https://use.fontawesome.com/d0a6f7e1c7.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar">
    <div class="home">
      <a href="/"><img id="home_icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2000px-Paw-print.svg.png"></a>
      <span id="web_title">Doge Overfloh</span>
    </div>

    <div class="home_row">
      <% if current_user %>
        <a class="button" href="/users/<%=current_user.id%>"><%= current_user.username%></a>
        <a class="button" href="/questions/new">Ask a Question</a>
        <a class="button" href="/users/logout">Dogout</a>
      <% else %>
        <a class="button" href="/users/login">Dogin</a>
        <a class="button" href="/users/new">Creeat Account</a>
      <% end %>

    </div>
  </nav>
  <%= yield %>
    <div id='dog_cover_image'>
    <img class="puppies" src="/images/doge_drawing.png">
  </div>
</body>
</html>
